* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: #141313;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 1s linear;
}

.logo {
    height: 50px;
    width: 50px;
    /* margin: 5px; */
}

.logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: translateX(-100px);
    animation: logoAnimation 2s ease-out 1 forwards;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 25px;
    list-style: none;
}

nav ul li {
    text-decoration: none;
    cursor: pointer;
    transform: translateX(100px);
    animation: menuAnimation 2s ease-out forwards;
}

nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    /* padding: 10px; */
}

nav ul li a:hover {
    color: #997c38;
}

.category-nav ul li {
    transition: 0.5s ease-in-out;
}

.category-nav ul li:hover {
    color: #997c38;
    transform: translateY(-2px) !important;
    scale: 1.1;
    transition: 0.5s ease-in-out;
}

.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 250px;
    width: 350px;
    max-width: 350px;
    /* border: 1px solid #bebbbb; */
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* overflow: hidden; 
    scrollbar-width: none; */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px 12px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 75%;
    width: 100%;
    /* padding: 10px; */
    border-radius: 10px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
}

.content .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #000000;
}

.content .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 9px;
    color: #555555;

}

.meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
    color: #999999;
}

.blink {
    animation: blink-animation 0.5s ease-in-out infinite;
}

.main {
    display: flex;
    flex-direction: column;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 10px 0 20px 0;
    align-items: flex-start;
    /* justify-content: space-around; */
    transition: 1s linear;
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    align-items: center;
    /* justify-content: space-around; */
    transition: 1s linear;
    transform: translateX(-800px);
    animation: cardSlide 2s forwards;
}

.top-headlines {
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* perspective: 1000px; */
}

.top-headline-heading {
    background-color: #ff0000;
    width: 100%;
    color: #FFFFFF;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    animation: rotate 21s infinite linear;
    animation-delay: 2s;
    transform-style: preserve-3d;
    box-shadow: inset;
}

.headline-container {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #e9e7e7;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transform: translateX(400px);
    transition: 2s;
    opacity: 0;
    animation: headlineCardSlide 2s ease-out forwards;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);

}

.headline-container .headline-card {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.headline-container .headline-card img {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    object-fit: cover;
}

.headline-container .headline-card .headline-title {
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prev-next {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prev-next button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.prev-next button:hover {
    background-color: #e0a436;
}

.prev-next button:disabled {
    background-color: #cdc6c6;
    cursor: not-allowed;
}

.loader-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.wave {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0d6efd;
    opacity: 0;
    animation: loadingAnimation 1.8s infinite ease-in-out;
}

.wave1 {
    width: 60px;
    height: 60px;
    animation-delay: 0s;
}

.wave2 {
    width: 80px;
    height: 80px;
    animation-delay: 0.3s;
}

.wave3 {
    width: 100px;
    height: 100px;
    animation-delay: 0.6s;
}

.wave4 {
    width: 120px;
    height: 120px;
    animation-delay: 0.9s;
}

.loading-text {
    margin-top: 10px;
    color: #565989;
    font-size: 30px;
    animation: loadingTextAnimation 1.8s infinite ease-in-out;
}


.about-subheading {
    margin-top: 10px;
}

.about-line {
    height: 1px;
    background-color: #aba6a6;
    /* width: 70%; */
    margin: 10px auto;
}

.contact-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: 2.5s ease-in-out;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 85%;
    margin: 5% auto;
    gap: 25px;
    /* padding: 10px 0; */
    /* border: 2px solid #ffffff; */

}

.contact-box h2 {
    font-size: 30px;
    color: #000000;
}

.query-box form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px 11px rgba(0, 0, 0, 0.1);
}

.query-box form input,
textarea {
    color: #000000;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}

.query-box form button {
    font-size: 20px;
    background-color: #d82286;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    transition: 1s ease-in-out;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);
}

.query-box form button:hover {
    background-color: #debcbc;
    color: #000000;
}

footer {
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    border-top: 2px solid #e7e7e7;
    z-index: 1000;
}







@keyframes blink-animation {

    1%,
    100% {
        color: #999999;
    }

    50% {
        color: #e29608;
    }

}

@keyframes logoAnimation {

    to {
        transform: translateX(0);
    }

}

@keyframes menuAnimation {
    to {
        transform: translateX(0);
    }
}

@keyframes rotate {
    /* from {
        transform: rotatey(0deg);
    }

    to {
        transform: rotatey(360deg);
    } */


    /* 0%,
    100% {
        transform: rotateY(0deg);
    }


    50% {
        transform: rotateY(360deg);
    } */


    2% {
        transform: rotateY(360deg);
    }


    /* 10% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(0deg);
    } */

    100% {
        transform: rotateY(360deg);
    }

}

@keyframes cardSlide {
    0% {
        transform: translateX(-800px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes headlineCardSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes loadingAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}


@keyframes loadingTextAnimation {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}